.surgery-status {
    max-width: 750px; 
    background-color: #dee2e6;
}

button {
    margin: 2px;
}

code {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    padding-inline: 3px;
}