:root {
    --bg-color: #181a1c;
}

a {
    color: #5cdbf7;
}


body {
    display: block;
    background-color: var(--bg-color);
    color: #fff;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#version {
    width: max-content;
    margin: 0 auto;
    color: #5cdbf7;
}

/* Navigation Bar */
#navbar {
    width: max-content;
    margin: 0 auto;
}

#navbar > button {
    background: none;
    color: white;
}

/* Containers */
.container {
    /* Container */
    max-width: 400px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    /* Margin & Padding */
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.container.cntr-blue {
    --iro: 52, 186, 227;
    background: rgba(var(--iro), 0.3);
    border-color: rgb(var(--iro));
}

.container.cntr-whiteb {
    background: var(--bg-color);
    border-color: #fff;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    height: 1px;
}

td {
    padding: 3px;
}

/* Buttons */
button {
    /* make button look cool */
    margin: 2px;
    padding: 5px 10px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    vertical-align: middle;
    font-size: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    user-select: none; /* disable selection of button text */
    font-family: inherit;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    pointer-events: auto;
    opacity: 0.5;
}

/* .normal */
button.normal {
    color: #fff;
    background-color: #6c757d;
}

button.normal:hover {
    background-color: #5c636a;
}

/* .good */
button.good {
    color: #fff;
    background-color: #198754;
}

button.good:hover {
    background-color: #157347;
}

/* .danger */
button.danger {
    color: #fff;
    background-color: #dc3545;
}

button.danger:hover {
    background-color: #bb2d3b;
}

/* Tools */
#tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 310px;
    margin: 0 auto;
}

button.tool {
    font-family: inherit;
    color: #fff;
    background-color: rgba(108, 117, 125, 0.5);
    border-color: rgb(175, 175, 175);
    display: inline-flex;
    align-items: center;
}

button.tool > img {
    height: 32px;
    width: 32px;
    margin-left: 5px;
    filter: drop-shadow(4px 4px 1px #222);
}

button.tool:hover {
    background-color: rgba(108, 117, 125, 0.8);
    border-color: rgb(255, 255, 255);
}

button.tool:focus {
    background-color: rgba(108, 117, 125, 0.8);
    border-color: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 7.5px #c1c1c1;
    outline: none;
}

/* Modal background */
#modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* main thing in the middle */
#modal-content {
    background-color: var(--bg-color);
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    border-radius: 3px;
    max-width: 500px; /* Could be more or less, depending on screen size */
}

#modal-header {
    border-bottom: 1px solid #888;
    font-weight: bold;
    padding: 10px;
}

#modal-desc {
    border-bottom: 1px solid #888;
    padding: 10px;
}

#modal-options {
    padding: 5px;
}

#modal-options {
    display: flex;
    justify-content: flex-end;
}

/* Text styles */
.text-normal {
    color: #C9CCCD;
}

.text-good {
    color: #2ECC71;
}

.text-warning {
    color: #F1C40F;
}

.text-bad {
    color: #E74C3C;
}

code {
    font-family: monospace;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding-inline: 3px;
    border-radius: 2px;
}

code.alt {
    background-color: #343434;
    padding: 2px 3px;
}

/* Perks */

#level {
    --iro: 52, 186, 227;
    width: max-content;
    margin: 0 auto;
    display: flex;
    border: 1.5px solid rgb(var(--iro));
    border-radius: 7.5px;
    padding: 4px;
    font-weight: bold;
    font-size: x-large;
    user-select: none;
    cursor: pointer;
}

#level:hover {
    background-color: rgba(var(--iro), 0.3);
}

#perks-list {
    display: flex;
    flex-wrap: wrap;
}

.perks {
    --iro: #1a8dc7;
    width: max-content;
    padding: 4px;
    margin: 2px;
    border: 1px solid var(--iro);
    border-radius: 5px;
    color: var(--iro);
    user-select: none;
    cursor: pointer;
}

.perks.p-max {
    --iro: #5c29ba;
}

.perks:hover {
    background-color: var(--iro);
    color: #fff;
}

.p-lvl {
    color: #fff;
}

.p-price {
    font-family: monospace;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
